<h1>Users </h1>
  <div class="row">
    <div class="col">
      <label for="firstname">First Name</label> 
      <input placeholder="firstname" class="input" id="firstname" [(ngModel)]="firstname">
    </div>
     <div class="col">
      <label for="lastname">Last Name</label> 
      <input placeholder="lastname" class="input" id="lastname" [(ngModel)]="lastname">
    </div>
  </div>
     <div class="form-group">
      <label for="email">Email</label> 
      <input placeholder="email" class="input" id="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="company">Company</label> 
      <input placeholder="company" class="input" id="company" [(ngModel)]="company">
    </div>
	<div class="form-group">
      <label for="phone">Phone</label> 
      <input placeholder="phone" class="input" id="phone" [(ngModel)]="phone">
    </div>
    <div class="form-group">
      <label for="address">Address</label> 
      <input placeholder="address" class="input" id="address" [(ngModel)]="address">
    </div>
   <button class="button is-success" (click)="createUser()" [disabled]="firstname?.length < 2 || firstname?.length > 50">
  Add User
</button>

  <hr>
<div *ngFor="let user of users | async">
  <user-detail [user]="user"></user-detail>
</div>



